* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0px solid red;
}

:root {
  --gbRed: #ca5c3d;
  --gbBlue: #374d64;
  --gbGrayButton: #d6d2d2;
  --gbGrayText: #4f4d4d;

  --background: #f8f3f1;
  --foreground: black;

  --darkModeBlack: #252525;
  --darkModeGray: #d6d2d2;
  --darkModeBody: #d6d2d2;
  --darkModeSuggestionList: #2b2a2a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --background: #374d64;
    --foreground: #f8f3f1;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1600px) {
  article {
    display: flex;
    flex-direction: column;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-weight: bold;
  font-size: 18px;
}

ul {
  list-style-type: none;
}

button {
  font-family: "IntroRust", Arial, sans-serif;
  color: var(--foreground);
  font-size: 18px;
  background-color: var(--gbGrayButton);
  padding: 1rem 1.4rem 1rem 1.4rem;
  border-radius: 8px;
  width: 180px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  color: var(--background);
  background-color: var(--gbBlue);
}

@media (prefers-color-scheme: dark) {
  button {
    color: #f8f3f1;
    background-color: #ca5c3d;
  }
  button:hover {
    color: #374d64;
    background-color: #d6d2d2;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.fade-out {
  animation: fadeOut 1s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
