.page {
  display: flex;
  flex-direction: column;
  margin: 0rem 4rem 0rem 4rem;
  min-height: 100vh;
}

.header {
  font-family: "IntroRust", Arial, sans-serif;
  font-size: 60px;
  line-height: 1.5;
  width: 800px;
}

 .subHeader {
  font-family: "IntroRust", Arial, sans-serif;
  margin-bottom: 4rem;
}

.heroPhoto {
  width: 90vw;
  height: auto;
  border-radius: 8px;;
  margin-bottom: 8rem;
}

.section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
}

.spaDog, .spaDogThree {
  width: 380px;
  height: auto;
  border-radius: 8px;
}

.spaDogThree {
  width: 640px;
}

.groomCopyMobile {
  display: none;
}

.sectionHeader, .sectionHeaderTwo {
  font-size: 42px;
  line-height: 1;
  letter-spacing: -1;
  width: 340px;
  margin-bottom: 2rem;
}

.sectionHeaderTwo {
  width: 540px;
  margin-bottom: 4rem;
}

.spaSection {
  display: flex;
  flex-direction: column;
}

.copyHeader {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.copy, .copyBody {
  color: #828282;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  width: 340px;
}

.copyBody {
  width: 480px;
  margin-bottom: 4rem;
}

.spaDayButton {
  background-color: #d6d2d2;
  color: black;
  font-family: "IntroRust", Arial, sans-serif;
  width: 360px;
}

.reviewsHeader {
  font-family: "IntroRust", Arial, sans-serif;
  font-size: 50px;
  line-height: 1.5;
  width: 720px;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.reviewsContainer {
  display: flex;
  justify-content: space-between;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  list-style-type: none;
  max-width: 380px;
  padding: 2rem;
  margin-right: 2rem;
  margin-bottom: 6rem;
  border: 1px solid #c4c2bf;
  border-radius: 8px;
}

.reviewContent, .reviewName {
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
}

.reviewContent {
  margin-bottom: 2rem;
}


@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  /*.footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }*/
}

@media (max-width: 600px) {

.page {
  margin: 0rem;
}
  .subHeader {
    font-size: 28px;
    margin: 0rem 1rem 2rem 1rem;
  }

  .header {
    font-size: 48px;
    width: 90vw;
    margin: 0rem 1rem 0rem 1rem;
  }

  .heroPhoto {
    align-self: center;
    width: 500px;
    margin-bottom: 1rem;
  }

  .section {
    flex-direction: column;
    margin-bottom: 0rem;
  }

  .sectionHeader {
    line-height: 1.2;
  }

  .spaDog {
    border-radius: 0px;
    margin-bottom: 2rem;
  }

  #spaDogBottom {
    margin-bottom: 0rem;
  }

  .groomCopy {
    display: none;
  }

  .groomCopyMobile {
    display: block;
    margin: 0rem 1rem 2rem 1rem;
  }

  .sectionHeaderTwo, .copyBody {
    width: 100%;
  }

  .copyBody, .copyHeader, .copy {
    font-size: 22px;
  }

  .spaSection {
    margin: 0rem 1rem 2rem 1rem;
  }

  .spaDayButton {
    width: 100%;
    margin-bottom: 2rem;
  }

  .spaDogThree {
    width: 100%;
    border-radius: 0px;;
  }

  .reviewsHeader {
    font-size: 40px;
    width: 90vw;
    margin: 0rem 1rem 2rem 1rem;
  }

  .reviewsContainer {
    flex-direction: column;
    margin: 1rem;
  }

  .review {
    width: 100%;
    margin-bottom: 1rem;
  }




}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
