.page {
  display: flex;
  flex-direction: column;
  margin: 0rem 4rem 0rem 4rem;
  min-height: 100vh;
  color: var(--gbBlue)
}

.header {
  font-family: "IntroRust", Arial, sans-serif;
  font-size: 68px;
  line-height: 1.5;
  width: 900px;
  padding-top: 2rem;
}

 .subHeader {
  font-family: "InstrumentSans", Arial, sans-serif;
  color: var(--gbGrayText);
  font-size: 36px;
  margin-bottom: 2rem;
}

.heroPhoto {
  width: 90vw;
  height: auto;
  border-radius: 8px;;
}

.section {
  display: flex;
  justify-content: space-between;
  padding-top: 8rem;
}

.spaDog, .spaDogThree {
  width: 380px;
  height: auto;
  border-radius: 8px;
}

.spaDogThree {
  width: 640px;
}

.groomCopyMobile {
  display: none;
}

.sectionHeader, .sectionHeaderTwo {
  font-family: "InstrumentSans", Arial, sans-serif;
  font-size: 42px;
  width: 340px;
  margin-bottom: 2rem;
}

.sectionHeaderTwo {
  width: 540px;
  margin-bottom: 4rem;
}

.spaSection {
  display: flex;
  flex-direction: column;
}

.copyHeader {
  font-size: 24px;
  font-family: "InstrumentSans", Arial, sans-serif;
 font-weight: 300;
  margin-bottom: 1rem;
}

.copy, .copyBody {
  color: var(--gbGrayText);
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  width: 340px;
}

.copyBody {
  width: 480px;
  margin-bottom: 4rem;
}

.spaDayButton {
  background-color: var(--gbGrayButton);
  color: var(--foreground);
  font-family: "IntroRust", Arial, sans-serif;
  width: 460px;
}

.reviewsSection {
  padding-top: 8rem;
}

.reviewsHeader {
  font-family: "InstrumentSans", Arial, sans-serif;
  font-size: 50px;
  font-weight: 600;
  width: 720px;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.reviewsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--foreground);
  background-color: white;
  list-style-type: none;
  max-width: 380px;
  padding: 2rem;
  margin-right: 2rem;
  margin-bottom: 6rem;
  border: 1px solid var(--gbGrayButton);
  border-radius: 8px;
}

.reviewContent, .reviewName {
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
}

.reviewContent {
  margin-bottom: 2rem;
}


@media (prefers-color-scheme: dark) {
  .page {
    color: var(--foreground);
  }
  .review {
    background-color: #474444;
  }
  .copy, .copyBody, .subHeader {
    color: #ccc7c5;
  }
  .spaDayButton {
    background-color: var(--gbBlue);
    color: var(--foreground);
  }
}

/* mobile styling */
@media (max-width: 1300px) {

.page {
  margin: 0rem;
}
  .subHeader {
    font-size: 26px;
    margin: 0rem 1rem 2rem 1rem;
  }

  .header {
    font-size: 48px;
    width: 90vw;
    margin: 0rem 1rem 0rem 1rem;
  }

  .heroPhoto {
    align-self: center;
    width: 500px;
  }

  .section {
    flex-direction: column;
    padding-top: 2rem;
  }

  .reviewsSection {
    padding-top: 2rem;
  }

  .sectionHeader {
    line-height: 1.2;
  }

  .spaDog {
    border-radius: 0px;
    margin-bottom: 2rem;
    width: 100%;
  }

  #spaDogBottom {
    margin-bottom: 0rem;
  }

  .groomCopy {
    display: none;
  }

  .groomCopyMobile {
    display: block;
    margin: 0rem 1rem 4rem 1rem;
  }

  .sectionHeaderTwo, .copyBody {
    width: 100%;
  }

  .sectionHeaderTwo {
    margin-bottom: 2rem;
  }

  .copyBody, .copyHeader, .copy {
    font-size: 22px;
  }

  #copyBodyBottom {
    margin-bottom: 2rem;
  }

  .spaSection {
    margin: 0rem 1rem 2rem 1rem;
  }

  .spaDayButton {
    width: 100%;
    margin-bottom: 4rem;
  }

  .spaDogThree {
    width: 100%;
    border-radius: 0px;
  }

  .reviewsHeader {
    font-size: 40px;
    width: 90vw;
    margin: 0rem 1rem 2rem 1rem;
  }

  .reviewsContainer {
    flex-direction: column;
    margin: 1rem;
    margin-bottom: 8rem;
  }

  .review {
    width: 100%;
    margin-bottom: 1rem;
  }

}

