.page {
  font-family: "InstrumentSans", Arial, sans-serif;
  color: var(--gbBlue);
  display: flex;
  flex-direction: column;
  margin: 0rem 4rem 0rem 4rem;
  min-height: 100vh;
}

.header {
  font-family: "IntroRust", Arial, sans-serif;
  font-size: 68px;
  line-height: 1.5;
  padding: 2rem 0rem 2rem 0rem;
  width: 900px;
}

.subHeader {
  color: var(--gbGrayText);
  font-size: 36px;
  margin-bottom: 4rem;
}

.heroPhoto {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.heroPhotoMobile {
  display: none;
}

.section {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}

.sectionBest {
  display: flex;
  justify-content: center;
  justify-content: center;
  padding-top: 4rem;
}

.spaDog,
.spaDogThree,
.spaDogBest {
  width: 380px;
  height: auto;
  border-radius: 8px;
}

.spaDogsSection {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.spaDogBest {
   width: 300px;
  height: auto;
  margin-top: 0.5rem;
}

.spaDogThree {
  width: 540px;
  height: auto;
}


.sectionHeader,
.sectionHeaderTwo,
.sectionHeaderFamily {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 1rem;
  width: 340px;
}

.sectionHeaderFamily {
  width: 600px;
}

.sectionHeaderTwo {
  width: 540px;
  margin-bottom: 2rem;
}

.spaSection {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.sectionFamily {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.copyHeader,
.copyHeaderBottom {
  font-size: 24px;
  font-weight: 400;
  width: 660px;
  margin-bottom: 2rem;
}
.copyHeaderBottom {
  margin-bottom: 4rem;
}

.copy,
.copyBody,
.copyBest {
  color: var(--gbGrayText);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  width: 340px;
}

.copyBest {
  width: 460px;
  margin-right: 2rem;
}

.copyBody,
.copyBodyFamily {
  width: 480px;
  margin-bottom: 4rem;
}

.copyBodyFamily {
 color: var(--gbGrayText);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  width: 600px;
}

.spaDayButton {
  width: 460px;
}

.groomCopyMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviewsSection {
  padding-top: 4rem;
}

.reviewsHeader {
  font-size: 50px;
  font-weight: 600;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  width: 720px;
}

.reviewsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
}

.review {
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  background-color: white;
  padding: 2rem;
  margin: 0rem 2rem 6rem 0rem;
  border: 1px solid var(--gbGrayButton);
  border-radius: 8px;
  max-width: 380px;
}

.reviewContent,
.reviewName {
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
}

.reviewContent {
  margin-bottom: 2rem;
}

@media (prefers-color-scheme: dark) {
  .page {
    color: var(--foreground);
  }
  .review {
    background-color: #2e3f51;
  }
  .subHeader {
    color: var(--darkModeGray);
  }
  .copy,
  .copyBody {
    color: var(--darkModeBody);
  }
}

/* mobile styling */
@media (max-width: 1300px) {
  .page {
    margin: 0rem;
  }

  .header,
  .subheader {
    line-height: 56px;
  }

  .header {
    font-size: 48px;
    margin: 0rem 1rem 0rem 1rem;
    width: 90%;
  }
  .subHeader {
    font-size: 26px;
    margin: 0rem 1rem 4rem 1rem;
  }

  .heroPhoto {
    display: none;
  }

  .heroPhotoMobile {
    display: block;
    align-self: center;
    width: 100%;
    height: auto;
  }

  .section {
    flex-direction: column;
    padding-top: 4rem;
  }

  .reviewsSection {
    padding-top: 4rem;
  }

  .sectionHeader {
    line-height: 1.2;
  }

  .sectionBest {
    flex-direction: column;
  }

  .spaDog {
    margin-bottom: 2rem;
    border-radius: 0px;
  }

  .spaDogsSection {
    width: 100%;
    margin-left: 0rem;
  }

  .spaDogBest {
    width: 100%;
    border-radius: 0px;
  }

  #spaDogBottom {
    margin-bottom: 0rem;
  }

  .sectionHeaderTwo,
  .sectionHeaderFamily,
  .copyBody,
  .spaDog,
  .spaDayButton,
  .spaDogThree,
  .copyHeader,
  .copyHeaderBottom,
  .copyBest,
  .review,
  .copyBodyFamily {
    width: 100%;
  }

  .sectionFamily {
    margin-bottom: 0rem;
  }

  .sectionHeaderTwo {
    margin-bottom: 2rem;
  }

  .copyBody,
  .copyHeader,
  .copy {
    font-size: 22px;
  }

  #copyBodyBottom {
    margin-bottom: 2rem;
  }

  .spaSection,
  .groomCopy,
  .groomCopyMobile {
    margin: 0rem 1rem 2rem 1rem;
  }

  .spaDayButton {
    color: var(--background);
    background-color: var(--gbBlue);
    margin-bottom: 4rem;
  }

  .spaDogThree {
    border-radius: 0px;
  }

  .reviewsHeader {
    font-size: 40px;
    width: 90%;
    margin: 0rem 1rem 2rem 1rem;
  }

  .reviewsContainer {
    flex-direction: column;
    margin: 1rem 1rem 8rem 1rem;
  }

  .review {
    margin-bottom: 1rem;
  }
  @media (prefers-color-scheme: dark) {
    .spaDayButton {
      color: var(--foreground);
      background-color: #ca5c3d;
    }
  }
}

@media (min-width: 1600px) {
  .section,
  .reviewsSection {
    align-self: center;
    width: 1600px;
  }
}
