.footer {
  background-color: var(--gbBlue);
}

.footerCtas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
}

.leftContainer {
  display: flex;
  align-self: center;
}

.mascot {
  width: 180px;
  height: auto;
  margin: 2rem 0rem 2rem 0rem;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
}

.contact {
  font-size: 22px;
  font-weight: normal;
  color: white;
  margin: 1rem;
  text-decoration: underline;
}

.buttonSection {
  display: flex;
}

.footerButtonOne,
.footerButton {
  text-align: center;
  font-family: "IntroRust", Arial, sans-serif;
  color: var(--foreground);
  font-weight: bold;
  font-size: 18px;
  background-color: var(--background);
  padding: 1rem 1.4rem 1rem 1.4rem;
  margin-left: 1rem;
  border-radius: 8px;
  width: 180px;
  cursor: pointer;
}

.footerButtonOne {
  color: var(--background);
  background-color: var(--gbRed);
 
}

.linkSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.iconSection {
  margin-left: 3rem;
  padding-bottom: 10rem;
}

.icon {
  color: white;
  font-size: 24px;
  margin: 0rem 1rem 0rem 1rem;
}

.links {
  display: flex;
  margin-right: 3rem;
  width: 600px;
  flex-wrap: wrap;
}

.link {
  color: white;
  font-weight: normal;
  margin: 0rem 4.2rem 2rem 4.2rem;
}

.copyright {
  font-size: 16px;
  font-weight: normal;
  color: white;
  text-align: center;
  padding: 2rem;
}

@media (max-width: 1000px) {
  .footerCtas {
    flex-direction: column;
    margin: 0rem 1rem 0rem 1rem;
  }

  .leftContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .contacts {
    margin-left: 0rem;
  }

  .mascot {
    align-self: flex-start;
    width: 100px;
    margin-bottom: 1rem;
  }
  .buttonSection {
    flex-direction: column;
    width: 90%;
  }
  .footerButtonOne,
  .footerButton {
    text-align: center;
    margin-left: 0rem;
    margin-bottom: 2rem;
  }
  .linkSection {
    flex-direction: column;
  }

  .iconSection {
    align-self: center;
    margin-left: 0rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .links {
    flex-direction: row;
    justify-content: center;
    margin: 0rem 1rem 2rem 1rem;
    width: 90%;
  }

  .link {
    margin: 1rem;
    margin-top: 0rem;
  }
}
