.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.navLogo {
    width: 300px;
    height: auto;
}

.link {
    font-family: "IntroRust", Arial, sans-serif;
}