.page {
   font-family: "InstrumentSans", Arial, sans-serif;
  color: var(--gbBlue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem 4rem 8rem 4rem;
  min-height: 100vh;
  line-height: 1.5;
}

.leftSection {
  display: flex;
  flex-direction: column;
  padding-bottom: 8rem;
  width: 560px;
}

.header {
  font-size: 68px;
  padding-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  width: 620px;
}

.subheader {
  font-weight: 600;
  color: var(--gbGrayText);
  font-size: 26px;
}

.copyHeader {
  font-family: "IntroRust", Arial, sans-serif;
  font-size: 28px;
  padding-top: 4rem;
}

.copySection {
  color: var(--gbGrayText);
  font-weight: 400;
  padding-top: 2rem;
}

.buttonLink {
  align-self: center;
}

.button {
  color: var(--background);
  font-family: "IntroRust", Arial, sans-serif;
  margin-top: 4rem;
  background-color: var(--gbBlue);
  width: 460px;
}

.sectionRight {
  display: flex;
  flex-direction: column;
}

.photo {
  width: 500px;
  height: auto;
  margin-top: 2rem;
  border-radius: 8px;
}

.photoMobile {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .page,
  .button {
    color: var(--foreground);
  }
  .subheader,
  .copySection {
    color: var(--darkModeGray);
  }
}

/* mobile styling */
@media (max-width: 1300px) {
  .page {
    margin: 0rem 0rem 4rem 0rem;
    flex-direction: column;
  }
  .leftSection {
    padding-bottom: 0rem;
    margin: 0rem;
  }
  .leftSection,
  .photoMobile,
  .buttonLink,
  .button {
    width: 100%;
  }
  .header,
  .subheader,
  .copySection, .copyHeader, .button {
    width: 90%;
    margin: 0rem 1rem 0rem 1rem;
  }
  .header {
    font-size: 48px;
  }
  .copyHeader {
    padding-top: 2rem;
  }
  .photoMobile {
    display: block;
    height: auto;
    margin-top: 2rem;
  }
  .photo {
    display: none;
  }
  .button {
    margin-top: 4rem;
  }
}
