.page {
  display: flex;
  flex-direction: column;
  color: var(--gbBlue);
  min-height: 100vh;
  line-height: 1.5;
}

.hoursLocationSection {
    display: flex;
    justify-content: space-between;
    margin: 0rem 4rem 8rem 4rem;
}

.map {
     border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.dayTime {
    display: flex;
    justify-content: space-between;
    width: 636px;
    border-bottom: 1px solid var(--gbGrayButton);
}

.day, .time {
    font-size: 20px;
    font-weight: normal;
    padding-bottom: .5rem;
    padding-top: .5rem;
}

.formSection {
  display: flex;
  flex-direction: column;
  margin: 0rem 4rem 0rem 4rem;
}

.header, .headerHours {
  font-family: "InstrumentSans", Arial, sans-serif;
  font-size: 68px;
  padding-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.headerHours {
   margin: 0rem 4rem 4rem 4rem;
}

.subheader {
  font-family: "InstrumentSans", Arial, sans-serif;
  color: var(--gbGrayText);
  font-size: 26px;
  font-weight: normal;
  margin-bottom: 4rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 8rem;
  width: 600px;
}

.formLabel {
  padding: 1rem 1rem 0.5rem 0rem;
}

.formInput,
.formInputMessage,
.formButton {
  font-size: 18px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid var(--foreground);
  border-radius: 5px;
}

.formInputMessage {
  font-family: Arial, Helvetica, sans-serif;
  height: 120px;
}

.formButton {
  font-family: "IntroRust", Arial, sans-serif;
  color: var(--background);
  padding: 1rem 1.4rem 1rem 1.4rem;
  border: none;
  border-radius: 8px;
  background-color: var(--gbBlue);
  cursor: pointer;
}

.nameSection {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nameField {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1rem;
  width: 100%;
}

.nameField:last-child {
  margin-right: 0rem;
}

.requiredMessage {
  margin-bottom: 2rem;
}

.validateMessage {
  font-weight: normal;
}

.bottom {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.bottomCopy {
  position: absolute;
  font-family: "InstrumentSans", Arial, sans-serif;
  font-size: 68px;
  color: white;
  text-align: center;
  align-self: center;
  margin-top: 12rem;
  line-height: 0.8;
  z-index: 1000;
}

.bottomCopySub {
  font-size: 26px;
}

.contactPhoto {
  display: block;
  width: 100%;
  height: auto;
  filter: contrast(60%);
}

@media (prefers-color-scheme: dark) {
  .page,
  .headerHours,
  .dayTime,
  .formButton,
  .formInputMessage::placeholder {
    color: var(--foreground);
  }
  .formInput,
  .formInputMessage {
    background-color: var(--darkModeBlack);
  }
  .subheader {
    color: var(--darkModeGray);
  }
}

@media (max-width: 1300px) {
  .formSection {
    margin: 0rem;
  }
  .header,
  .subheader {
    width: 90%;
  }
  .header, .headerHours {
    font-size: 48px;
    margin: 0rem 1rem 2rem 1rem;
  }
  .hoursLocationSection {
    flex-direction: column;
    margin: 0rem 1rem 8rem 1rem;
}
.map {
    width: 100%;
    margin-bottom: 6rem;
}
.dayTime {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--gbGrayButton);
}
  .subheader {
    margin: 0rem 1rem 2rem 1rem;
  }
  .form {
    width: 90%;
    margin-bottom: 4rem;
  }
  .nameSection {
    flex-direction: column;
  }
  .bottom {
    position: inherit;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
  }
  .bottomCopy {
    color: var(--gbBlue);
    position: inherit;
    display: flex;
    flex-direction: column;
    font-size: 48px;
    margin: 0rem 1rem 2rem 1rem;
    line-height: 1;
  }
  .bottomCopySub {
    font-size: 24px;
    padding-top: 2rem;
  }
  .contactPhoto {
    filter: none;
  }
  @media (prefers-color-scheme: dark) {
    .bottomCopy {
      color: var(--darkModeGray);
    }
  }
}
