.page {
  font-family: "InstrumentSans", Arial, sans-serif;
  color: var(--gbBlue);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5;
}

.banner {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  width: 100%;
}

.contactPhoto {
  display: block;
  width: 100%;
  height: auto;
  filter: contrast(60%);
}

.bannerCopy {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  justify-content: center;
  align-self: center;
  line-height: 0.8;
}

.header {
  line-height: 1.5;
}

.header,
.subHeader {
  font-size: 68px;
  color: white;
  z-index: 1000;
}

.subHeader {
  font-size: 26px;
}

.headerHours {
  font-size: 68px;
  padding-top: 2rem;
  margin: 0rem 4rem 4rem 4rem;
}

.hoursLocationSection {
  display: flex;
  justify-content: space-between;
  margin: 0rem 4rem 8rem 4rem;
}

.map {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.dayTime {
  display: flex;
  justify-content: space-between;
  width: 636px;
  border-bottom: 1px solid var(--gbGrayButton);
}

.day,
.time {
  font-size: 20px;
  font-weight: normal;
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.formSection {
  display: flex;
  flex-direction: column;
  margin: 0rem 4rem 8rem 4rem;
}

.headerForm {
  font-size: 68px;
  text-align: center;
}

.subHeaderForm {
  font-size: 26px;
  color: var(--gbGrayText);
  text-align: center;
  margin: 2rem 0rem 4rem 0rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 8rem;
  width: 600px;
}

.nameSection {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nameField {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1rem;
  width: 100%;
}

.nameField:last-child {
  margin-right: 0rem;
}

.formLabel {
  padding: 1rem 1rem 0.5rem 0rem;
}

.formInput,
.formInputMessage,
.formButton {
  font-size: 18px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid var(--foreground);
  border-radius: 5px;
}

.formInputMessage {
  font-family: Arial, Helvetica, sans-serif;
  height: 120px;
}

.requiredMessage {
  margin-bottom: 2rem;
}

.formButton {
  font-family: "IntroRust", Arial, sans-serif;
  color: var(--background);
  padding: 1rem 1.4rem 1rem 1.4rem;
  border: none;
  border-radius: 8px;
  background-color: var(--gbBlue);
  cursor: pointer;
}

.validateMessage {
  font-weight: normal;
}

@media (prefers-color-scheme: dark) {
  .page,
  .headerHours,
  .dayTime,
  .headerForm,
  .formButton,
  .formInputMessage::placeholder {
    color: var(--foreground);
  }
  .formInput,
  .formInputMessage {
    background-color: var(--darkModeBlack);
  }
  .subHeaderForm {
    color: var(--darkModeGray);
  }
}

@media (max-width: 1300px) {
  .banner {
    flex-direction: column-reverse;
    margin-bottom: 0rem;
  }
  .bannerCopy {
    position: inherit;
  }
  .header,
  .subHeader {
    color: var(--gbBlue);
    font-size: 48px;
    line-height: 1.5;
    text-align: start;
    z-index: 999;
    margin: 0rem 1rem 0rem 1rem;
  }
  .header {
    margin-top: 2rem;
  }
  .subHeader {
    color: var(--gbGrayText);
    font-size: 24px;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
  .formSection {
    margin: 0rem;
  }
  .dayTime,
  .map {
    width: 100%;
  }

  .header,
  .subHeaderForm,
  .form {
    width: 90%;
  }
  .subHeaderForm {
    text-align: left;
    margin: 0rem 1rem 2rem 1rem;
  }
  .header,
  .headerHours,
  .headerForm {
    font-size: 48px;
    margin: 0rem 1rem 2rem 1rem;
  }
  .headerForm {
    text-align: left;
  }
  .hoursLocationSection {
    flex-direction: column;
    margin: 0rem 1rem 4rem 1rem;
  }
  .map {
    margin-bottom: 6rem;
  }
  .dayTime {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gbGrayButton);
  }
  .formSection {
    margin-bottom: 8rem;
  }
  .form {
    margin-bottom: 4rem;
  }
  .nameSection {
    flex-direction: column;
  }
  .contactPhoto {
    filter: none;
  }
  @media (prefers-color-scheme: dark) {
    .header {
      color: var(--foreground);
    }
    .subHeader {
      color: var(--darkModeGray);
    }
  }
}
