.page {
  font-family: "InstrumentSans", Arial, sans-serif;
  color: var(--gbBlue);
  display: flex;
  flex-direction: column;
  margin: 0rem 4rem 0rem 4rem;
  min-height: 100vh;
  line-height: 1.5;
}

.header {
  font-size: 68px;
  padding-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  width: 900px;
}

.subheader {
  color: var(--gbGrayText);
  font-size: 26px;
  font-weight: 600;
}

.faqPhoto {
  width: 100%;
  height: auto;
  margin-top: 4rem;
  border-radius: 20px;
}

.faqPhotoMobile {
  display: none;
}

.faqSection {
  padding-top: 6rem;
}

.faq {
  display: flex;
  justify-content: space-evenly;
}

.question,
.answer {
  width: 460px;
  margin-bottom: 4rem;
}

.question {
  font-size: 20px;
  align-self: center;
}

.answer {
  color: var(--foreground);
  font-weight: normal;
  padding: 1rem;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
  pointer-events: none;
}

.answer:hover {
  background-color: var(--gbGrayButton);
  border-radius: 8px;
}

.visible {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.6s ease-in, transform 0.6s ease-in;
  pointer-events: auto;
}

.divider {
  border-right: 1px solid var(--foreground);
}

.buttonSection {
  display: flex;
  justify-content: center;
  padding: 4rem 0rem 12rem 0rem;
}

.button {
  width: 460px;
}

@media (prefers-color-scheme: dark) {
  .page {
    color: var(--foreground);
  }

  .subheader,
  .answer {
    color: var(--darkModeGray);
  }
  .answer:hover {
    background-color: #2e3f51;
  }
}

/* mobile styling */
@media (max-width: 1300px) {
  .page {
    margin: 0rem;
  }
  .question,
  .answer,
  .buttonLink,
  .button {
    width: 100%;
  }
  .header,
  .subheader {
    width: 90%;
  }
  .header {
    font-size: 48px;
    margin: 0rem 1rem 2rem 1rem;
  }
  .subheader {
    margin: 0rem 1rem 0rem 1rem;
  }
  .faqPhoto {
    display: none;
  }
  .faqPhotoMobile {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 4rem;
  }
  .divider {
    display: none;
  }
  .faqSection {
    padding-top: 4rem;
    margin: 0rem 1rem 0rem 1rem;
  }
  .faq {
    flex-direction: column;
  }
  .question {
    padding-top: 2rem;
    border-top: 1px solid var(--foreground);
  }
  .faq:first-child {
    .question {
      border-top: none;
      padding-top: 0rem;
    }
  }
  .answer:hover {
    background-color: var(--background);
  }
  .answer {
    padding: 0rem;
  }
  .buttonSection {
    margin: 0rem 1rem 0rem 1rem;
  }
  .button {
    color: var(--background);
    background-color: var(--gbBlue);
  }
  @media (prefers-color-scheme: dark) {
    .question {
      border-top: 1px solid var(--darkModeGray);
    }
    .button {
      color: var(--foreground);
      background-color: #ca5c3d;;
    }
  }
}
