.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

.formHeader {
  font-family: "InstrumentSans", Arial, sans-serif;
  font-size: 42px;
  margin-bottom: 2rem;
}

.form,
.autoComplete {
  display: flex;
  flex-direction: column;
  width: 460px;
}

.autoComplete {
  align-items: center;
}

.suggestionList {
  position: absolute;
  margin-top: 1rem;
  background-color: white;
  z-index: 1000;
  border-radius: 14px;
  width: 460px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  max-height: 378px;
}

.suggestionItem {
  color: var(--foreground);
  font-size: 18px;
  padding: 1rem 1rem 1rem 2rem;
  cursor: pointer;
  border-bottom: 1px solid var(--gbGrayButton);
}

.suggestionItem:last-child {
  border-bottom: none;
}

.suggestionItem:hover {
  color: var(--foreground);
  cursor: pointer;
  background-color: var(--gbGrayButton);
}

.noMatches {
  padding: 1rem;
}

.formLabel {
  padding: 1rem 1rem 0.5rem 0rem;
}

.formInput,
.formSelect,
.formInputMessage,
.formButton {
  font-size: 18px;
  padding: 0.5rem;
  border: 1px solid var(--foreground);
  border-radius: 5px;
  margin-bottom: 0.5rem;
}
.dogBreedInputContainer {
  display: flex;
  flex-direction: row;
}

#dogBreedInput {
  margin-bottom: 0rem;
  width: 100%;
}

  #dogBreedInput::placeholder {
  color:  var(--foreground);
}

.dogBreedButton {
  font-size: 18px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-left: 0.5rem;
  width: auto;
}

.formInputMessage {
  font-family: Arial, Helvetica, sans-serif;
  height: 120px;
}

.formButton {
  font-family: "IntroRust", Arial, sans-serif;
  background-color: var(--gbBlue);
  color: var(--background);
  padding: 1rem 1.4rem 1rem 1.4rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.requiredMessage {
  margin-bottom: 2rem;
}

.validateMessage {
  font-weight: normal;
}

/* modal styling */

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(55, 77, 100, 0.8);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1020;
}

.modalContent {
  display: flex;
  justify-content: space-between;
  font-family: "IntroRust", Arial, sans-serif;
  text-align: left;
  border-radius: 8px;
  background: var(--background);
  padding: 1.5rem;
}

.mascot {
  width: 180px;
  height: auto;
  margin-right: 2rem;
}

.modalSection {
  display: flex;
  flex-direction: column;
}

.modalSectionTop {
  display: flex;
  justify-content: space-between;
}

.modalMessageHeader {
  font-size: 34px;
  margin-bottom: 3rem;
}

.closeButton {
  color: var(--gbBlue);
  font-size: 40px;
  border-radius: 5px;
  background-color: var(--gbGrayButton);
  cursor: pointer;
}

.modalMessage {
  font-family: "InstrumentSans", Arial, sans-serif;
  font-size: 24px;
  margin-bottom: 1rem;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .formInput,
  .formSelect,
  .formInputMessage {
    background-color: #252525;
    border: 1px solid #c4c2bf;
  }
  .suggestionList {
    background-color: #2b2a2a;
  }
  .suggestionItem {
    border-bottom: 1px solid var(--gbGrayText);
  }
  .suggestionItem:hover {
    background-color: var(--gbGrayText);
  }
  .formButton,
  .dogBreedButton {
    border: none;
    color: var(--foreground);
  }
  #dogBreedInput::placeholder {
  color:  var(--foreground);
}
  .modal {
    background: rgba(3, 5, 6, 0.7);
  }
  .modalContent {
    background: #252525;
  }
}

@media (max-width: 1300px) {
  .formContainer {
    padding-top: 2rem;
  }
  .formHeader {
    font-size: 48px;
    margin: 0rem 1rem 2rem 1rem;
  }
  .form,
  .suggestionList {
    width: 90%;
  }
  .autoComplete {
    width: 100%;
  }
  .dogBreedButton {
    font-size: 24px;
  }
  .modalContent {
    flex-direction: column;
    width: 90%;
    padding: 1rem;
  }
  .mascot {
    display: none;
  }
  .modalMessageHeader {
    font-size: 30px;
    margin-bottom: 2rem;
  }
  .modalMessage {
    font-size: 21px;
    margin-bottom: 0.5rem;
  }
}
