.scroll {
  position: fixed;
  color: var(--background);
  margin-top: 24rem;
  margin-left: 78rem;
  z-index: 1000;
  cursor: pointer;

    /* Prevent janky repaints */
  transform: translate3d(0, 0, 0);
  will-change: transform, opacity;

  /* Optional: Fade in/out smoothly */
  opacity: 1;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.scrollHidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

}

.arrow {
  border-radius: 50px;
  font-size: 5rem;
  padding: 1rem;
  background-color: var(--gbBlue);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  .scroll {
    color: var(--foreground);
  }
}

@media (max-width: 1300px) {
  .scroll {
    padding: 0.5rem;
    padding-bottom: 0.15rem;
    margin-top: 36rem;
    margin-left: 19rem;
  }

  .arrow {
  border-radius: 50px;
  font-size: 3.5rem;
  padding: .8rem;
  background-color: var(--gbBlue);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
}
