.scroll {
  position: fixed;
  color: var(--background);
  background-color: var(--gbBlue);
  padding: 1rem;
  padding-bottom: 0.5rem;
  border-radius: 50px;
  margin-top: 38rem;
  margin-left: 84rem;
  z-index: 1000;
  cursor: pointer;
  font-size: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  .scroll {
    color: var(--foreground);
  }
}

@media (max-width: 1300px) {
  .scroll {
    padding: 0.5rem;
    padding-bottom: 0.15rem;
    margin-top: 40rem;
    margin-left: 20rem;
  }
}
