.scroll {
  all: unset;
  position: fixed;
  color: var(--background);
  right: 2rem;
  bottom: 2rem;
  z-index: 999;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.scroll:hover {
  background-color: transparent;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.arrow {
  font-size: 5rem;
  padding: 1rem;
  border-radius: 50px;
  background-color: var(--gbBlue);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  .scroll {
    color: var(--foreground);
  }
  .scroll:hover {
    background-color: transparent;
  }
}

@media (max-width: 1300px) {
  .scroll {
    right: 0.5rem;
    bottom: 1rem;
    padding: 0.5rem 0.5rem 0.15rem 0.5rem;
  }

  .arrow {
    font-size: 4rem;
    padding: 1rem;
    border-radius: 50px;
    background-color: var(--gbBlue);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
