.page {
  font-family: "InstrumentSans", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  color: var(--gbBlue);
  min-height: 100vh;
  line-height: 1.5;
}

.bannerSection {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  width: 100%;
}

.bannerCopy {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  justify-content: center;
  align-self: center;
  line-height: 0.8;
}

.header,
.subHeader {
  font-size: 68px;
  color: white;
  z-index: 1000;
}

.subHeader {
  font-size: 26px;
  margin-top: 2rem;
}

.servicesBanner {
  display: block;
  width: 100%;
  height: auto;
}

.servicesBannerMobile {
  display: none;
}

.serviceMenu,
.serviceMenuTwo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0rem 4rem 0rem 4rem;
}

.serviceCard {
  background-color: #f1ecec;
  padding: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
  pointer-events: none;
}

.serviceCardTwo {
  background-color: #f1ecec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  width: 534px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
  pointer-events: none;
}

.visible {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.6s ease-in, transform 0.6s ease-in;
  pointer-events: auto;
}

.serviceName,
.serviceNameTwo {
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 1rem;
}

.serviceNameTwo {
  padding-bottom: 0rem;
}

.sizeAndPrice {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.option {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0rem 0.5rem 0rem;
  border-bottom: 1px solid var(--gbGrayButton);
}

.size,
.servicePrice {
  font-weight: 400;
}

.bookingSection {
  display: flex;
  justify-content: center;
}

.bookingButtons {
  margin: 1rem 3rem 4rem 3rem;
}

.bookingButton {
  font-family: "IntroRust", Arial, sans-serif;
  width: 300px;
}

.mainPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem 4rem 10rem 4rem;
}

.sectionHeader,
.bookingHeader {
  font-family: "InstrumentSans", Arial, sans-serif;
  font-size: 42px;
  font-weight: 600;
  padding-top: 4rem;
  padding-left: 4rem;
  margin-bottom: 4rem;
}

.bookingHeader {
  text-align: center;
  padding-left: 0rem;
}

.firstTimeSection {
  margin-bottom: 4rem;
  margin-right: 2rem;
}

.firstTimePhoto,
.referralPhoto {
  width: 636px;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.mainText {
  color: var(--foreground);
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 0.5rem;
}

.subText {
  color: var(--gbGrayText);
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.priceSection {
  display: flex;
  margin-bottom: 2rem;
}

.price,
.priceReferral {
  color: var(--foreground);
  font-weight: 800;
}

.amount {
  text-decoration: line-through;
  font-weight: 600;
}

.nextService {
  font-weight: 600;
}

.servicesButton {
  margin-right: 1rem;
}

@media (prefers-color-scheme: dark) {
  .subText {
    color: var(--darkModeGray);
  }
  .sectionHeader,
  .bookingHeader {
    color: var(--foreground);
  }
  .buttonDescription {
    color: var(--darkModeGray);
  }
  .serviceCard, .serviceCardTwo {
    color: var(--foreground);
    background-color: var(--darkModeBlack);
  }
}

/* mobile styling */
@media (max-width: 1300px) {
  .page {
    margin-bottom: 8rem;
  }
  .servicesBannerMobile,
  .bookingSection,
  .bookingButton,
  .firstTimePhoto,
  .referralPhoto,
  .servicesButton,
  .sizeAndPrice {
    width: 100%;
  }
  .bannerSection {
    flex-direction: column-reverse;
  }
  .servicesBanner {
    display: none;
  }
  .servicesBannerMobile {
    display: block;
    height: auto;
  }
  .bannerCopy {
    position: inherit;
  }
  .header,
  .subHeader {
    color: var(--gbBlue);
    font-size: 48px;
    line-height: 1.5;
    text-align: start;
    z-index: 999;
    margin: 0rem 1rem 0rem 1rem;
  }
  .header {
    margin-top: 2rem;
  }
  .subHeader {
    color: var(--gbGrayText);
    font-size: 24px;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  .serviceMenu,
  .serviceMenuTwo {
    flex-direction: column;
    margin: 0rem 1rem 0rem 1rem;
  }
  .serviceCardTwo {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .bookingHeader {
    text-align: start;
    padding-left: 1rem;
    margin-bottom: 2rem;
  }
  .bookingSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bookingButtons:first-child {
    margin-bottom: 1rem;
  }
  .bookingButtons {
    margin-right: 0rem;
    margin-left: 0rem;
    width: 90%;
  }
  .sectionHeader {
    padding-top: 2rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
  }
  .mainPage {
    flex-direction: column;
    margin: 0rem;
  }
  .firstTimeSection {
    margin-right: 0rem;
  }
  .firstTimePhoto,
  .referralPhoto {
    height: auto;
    margin-bottom: 2rem;
    border-radius: 0px;
  }
  .mainText,
  .subText,
  .priceSection {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .referralSection {
    margin-bottom: 6rem;
  }
  .buttonSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .servicesButton {
    margin-bottom: 2rem;
  }
  @media (prefers-color-scheme: dark) {
    .header {
      color: var(--foreground);
    }
    .subHeader {
      color: var(--darkModeGray);
    }
    .bookingButton,
    .servicesButton {
      color: var(--foreground);
      background-color: var(--gbBlue);
    }
  }
}

@media (min-width: 1600px) {
  .sectionHeader {
    margin-left: 24rem;
  }
  .mainPage, .serviceSection {
    align-self: center;
    width: 1600px;
  }
}
