.page {
  display: flex;
  flex-direction: column;
  color: var(--gbBlue);
  min-height: 100vh;
  line-height: 1.5;
}

.bannerSection {
     position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  width: 100%; 
}

.header, .subHeader {
  position: absolute;
  font-family: "InstrumentSans", Arial, sans-serif;
  font-size: 68px;
  color: white;
  text-align: center;
  align-self: center;
  line-height: 0.8;
  z-index: 1000;
}

.subHeader {
  font-size: 26px;
  margin-top: 10rem;
}



.servicesBanner {
      display: block;
  width: 100%;
  height: auto;
}

.bookingContainer {
    height: 100vh;
}