.page {
  display: flex;
  flex-direction: column;
  margin: 0rem 4rem 0rem 4rem;
  min-height: 100vh;
  color: var(--gbBlue);
  line-height: 1.5;
  font-family: "InstrumentSans", Arial, sans-serif;
}

.header {
  font-size: 68px;
  line-height: 1.5;
  width: 900px;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.subheader {
  font-family: "InstrumentSans", Arial, sans-serif;
  color: var(--gbGrayText);
  font-size: 26px;
  font-weight: normal;
}

.staffSection {
  display: flex;
  flex-direction: column;
  padding: 8rem 0rem 8rem 0rem;
}

.staffCard {
  display: flex;
  align-items: center;
  padding-bottom: 8rem;
}

.staffPhoto {
  width: 580px;
  height: auto;
  margin-left: 4rem;
  margin-right: 6rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.staffCard:nth-child(odd) {
  flex-direction: row-reverse;
  .staffPhoto {
    margin-left: 8rem;
    margin-right: 4rem;
  }
}

.info {
  width: 480px;
}

.name {
  font-family: "InstrumentSans", Arial, sans-serif;
  font-size: 42px;
}

.position {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.stats {
  color: var(--gbGrayText);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.bookButton {
  display: none;
}

.staffCard:first-child {
  .bookButton {
    font-family: "IntroRust", Arial, sans-serif;
    display: block;
    margin-top: 2rem;
    width: 360px;
  }
}

@media (prefers-color-scheme: dark) {
  .header,
  .name,
  .position {
    color: var(--foreground);
  }
  .subheader,
  .stats {
    color: #ccc7c5;
  }
}

/* mobile styling */
@media (max-width: 1300px) {
  .page {
    margin: 0rem;
  }
  .header {
    font-size: 48px;
    width: 90vw;
    margin: 0rem 1rem 2rem 1rem;
  }
  .subheader {
    margin: 0rem 1rem 0rem 1rem;
    width: 90vw;
  }
  .staffSection {
    margin: 0rem;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .staffCard {
    flex-direction: column;
    width: 100%;
    padding-bottom: 8rem;
  }
  .staffCard:last-child {
    padding-bottom: 4rem;
  }
  .staffPhoto {
    margin: 0rem;
    width: 100%;
    border-radius: 0px;
    margin-bottom: 2rem;
  }
  .staffCard:nth-child(odd) {
    flex-direction: column;
    .staffPhoto {
      margin: 0rem;
      margin-bottom: 2rem;
    }
  }
  .info {
    width: 90%;
  }
 .staffCard:first-child {
  .bookButton {
    width: 100%;
  }
}
}
