.page {
  font-family: "InstrumentSans", Arial, sans-serif;
  color: var(--gbBlue);
  display: flex;
  flex-direction: column;
  margin: 0rem 4rem 0rem 4rem;
  min-height: 100vh;
  line-height: 1.5;
}

.header {
  font-size: 68px;
  line-height: 1.5;
  padding-top: 2rem;
  margin-bottom: 2rem;
  width: 900px;
}

.subheader {
  color: var(--gbGrayText);
  font-size: 26px;
  font-weight: 600;
}

.staffSection {
  display: flex;
  flex-direction: column;
  padding: 4rem 0rem 8rem 0rem;
}

.staffCard {
  display: flex;
  align-items: flex-start;
  padding-bottom: 8rem;
}

.staffPhoto {
  width: 580px;
  height: auto;
  margin: 0rem 6rem 0rem 4rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.staffCard:nth-child(odd) {
  flex-direction: row-reverse;
  .staffPhoto {
    margin: 0rem 4rem 0rem 8rem;
  }
}

.info {
  width: 480px;
}

.name {
  font-size: 42px;
}

.position {
  font-size: 22px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.stats {
  color: var(--gbGrayText);
  font-size: 20px;
  font-weight: normal;
}

.bookButton {
  display: none;
}

.staffCard:first-child {
  .bookButton {
    font-family: "IntroRust", Arial, sans-serif;
    color: var(--foreground);
    font-size: 18px;
    display: block;
    text-align: center;
    padding: 1rem 1.4rem 1rem 1.4rem;
    margin-top: 2rem;
    background-color: var(--gbGrayButton);
    border-radius: 8px;
    width: 360px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  .bookButton:hover {
    color: var(--background);
    background-color: var(--gbBlue);
  }
}

@media (prefers-color-scheme: dark) {
  .header,
  .name,
  .position {
    color: var(--foreground);
  }
  .staffCard:first-child {
    .bookButton {
      color: var(--background);
    }
    .bookButton:hover {
      color: var(--foreground);
    }
  }
  .subheader,
  .stats {
    color: var(--darkModeGray);
  }
}

/* mobile styling */
@media (max-width: 1300px) {
  .page {
    margin: 0rem;
  }
  .staffPhoto,
  .staffCard,
  .staffSection {
    width: 100%;
  }
  .header,
  .subheader,
  .info {
    width: 90%;
  }
  .header {
    font-size: 48px;
    margin: 0rem 1rem 2rem 1rem;
  }
  .subheader {
    margin: 0rem 1rem 0rem 1rem;
  }
  .staffSection {
    margin: 0rem;
    padding: 4rem 0rem 4rem 0rem;
  }
  .staffCard {
    flex-direction: column;
    align-items: center;
    padding-bottom: 8rem;
  }
  .staffCard:last-child {
    padding-bottom: 4rem;
  }
  .staffPhoto {
    margin: 0rem;
    border-radius: 0px;
    margin-bottom: 2rem;
  }
  .staffCard:nth-child(odd) {
    flex-direction: column;
    .staffPhoto {
      margin: 0rem 0rem 2rem 0rem;
    }
  }
  .staffCard:first-child {
    .bookButton {
      color: var(--background);
      background-color: var(--gbBlue);
      width: 100%;
    }
  }
  @media (prefers-color-scheme: dark) {
      .staffCard:first-child {
    .bookButton {
      color: var(--foreground);
    }
  }
  }
}
